---
import { Icon } from "astro-icon/components";
import menu from "../assets/icons/menu.svg";
import { Image } from "astro:assets";
import Image1 from "../assets/img/img1.jpg";
---

<script>
    const menu = document.getElementById("icon-menu");
    const listMenu = document.querySelector(".header ul");

    menu?.addEventListener("click", () => {
        listMenu?.classList.toggle("display-none");
        console.log("listMenu ", listMenu);
    });
</script>

<section class="main-wrapper">
    <header class="header">
        <div class="logo">Logo</div>
        <nav>
            <Icon id="icon-menu" class="icon-menu" name="mdi:menu" />
            <ul class="display-none">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Nuestro trabajo</a></li>
                <li><a href="">Servicios</a></li>
                <li class="contact"><a href="">Contactenos</a></li>
            </ul>
        </nav>
    </header>

    <div class="card">
        <h1>
            <span>Soluciones</span> en izajes y carga especializada que hacen la
            diferencia
        </h1>
        <p>
            Transformamos tu visión en resultados concretos, con servicios de
            izaje y manejo de cargas que combinan experiencia, tecnología y
            seguridad. Cada proyecto es un compromiso, y lo llevamos a cabo con
            precisión y profesionalismo.
        </p>

        <button class="get-start">Contactos</button>
    </div>
</section>

<style lang="scss">
    :root {
        --color-primary: #f3d421;
        --color-secundary: #e1251b;
        --color-success: #4bb347;
        --color-name-company: #0f73b9;
    }
    .main-wrapper {
        background-image: url("../assets/img/img2.jpg");
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 10px;
            position: relative;
        }

        .header .logo {
            width: 30%;
        }

        .header ul {
            margin: 0px;
            padding: 0px;
            position: absolute;
            background-color: #000000;
            right: 0px;
            margin-right: 20px;

            .contact {
                display: none;
            }
        }

        .header ul li {
            list-style: none;
            padding: 15px 20px;
            text-transform: uppercase;
            font-weight: bold;

            a {
                text-decoration: none;
                color: #ffffff;

                &:hover {
                    color: darkorange;
                    cursor: pointer;
                }
            }
        }

        .header ul::before {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: darkorange;
        }

        .header .icon-menu {
            font-size: 35px;
            color: orange;
        }

        .card {
            border: 2px solid rgba(255, 255, 255, 0.16);
            width: 70%;
            margin: 100px auto;
            padding: 30px 30px;
            background-color: rgb(0, 0, 0, 0.6);
            font-family: sans-serif;
            text-transform: uppercase;
            font-size: 18px;

            h1 {
                padding: 0px;
                margin: 0px;
            }

            span {
                color: var(--color-primary);
            }

            p {
                font-size: 17px;
                text-transform: none;
                text-align: justify;
                line-height: 1.3;
            }

            .get-start {
                font-family: "Roboto", sans-serif;
                color: #ffffff;
                font-weight: bold;
                line-height: 130%;
                letter-spacing: 1px;
                border: none;
                background-color: var(--color-secundary);
                border-radius: 60px;
                padding: 10px 15px;
                cursor: pointer;
            }
        }
    }

    .display-none {
        display: none;
    }

    @media (min-width: 600px) {
        .main-wrapper {
            .header {
                padding: 20px 10%;
                background-color: rgb(0, 0, 0, 0.6);
            }
            .header .icon-menu {
                display: none;
            }

            .header ul {
                position: relative;
                background-color: transparent;
                display: flex;
                justify-content: end;
                align-items: center;
                text-align: center;
                font-size: 12px;
                margin-right: 0px;

                &::before {
                    display: none;
                }
            }
        }

        .display-none {
            display: block;
        }
    }

    @media (min-width: 950px) {
        .main-wrapper {
            .header ul {
                font-size: 14px;
            }

            .card {
                width: 50%;
                margin-right: 10%;
                padding: 50px 50px;
            }
        }
    }

    @media (min-width: 1200px) {
        .main-wrapper {
            .header ul {
                font-size: 16px;
                .contact {
                    display: block;
                }
            }

            .card {
                width: 500px;
                margin: 0px;
                position: absolute;
                bottom: 10vh;
                right: 10%;

                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 18px;
                    line-height: 1.5;
                }
            }
        }
    }
</style>
