---
import { Icon } from "astro-icon/components";

const horario = [
    {
        dia: "Lunes - Sábado",
        horario: "07:00 AM - 06:00 PM",
    },
    // {
    //     dia: "Martes",
    //     horario: "07:00 AM - 06:00 PM",
    // },
    // {
    //     dia: "Miércoles",
    //     horario: "07:00 AM - 06:00 PM",
    // },
    // {
    //     dia: "Jueves",
    //     horario: "07:00 AM - 06:00 PM",
    // },
    // {
    //     dia: "Viernes",
    //     horario: "07:00 AM - 06:00 PM",
    // },
    // {
    //     dia: "Sábado",
    //     horario: "07:00 AM - 06:00 PM",
    // },
    {
        dia: "Domingo",
        horario: "Cerrado",
    },
];

const listIcons: { icon: string; link: string }[] = [
    {
        icon: "mdi:youtube",
        link: "#",
    },
    {
        icon: "mdi:twitter",
        link: "#",
    },
    {
        icon: "fa-brands:linkedin",
        link: "#",
    },
    {
        icon: "fa-brands:facebook-f",
        link: "#",
    },
    {
        icon: "fa-brands:instagram",
        link: "#",
    },
];
---

<footer>
    <div class="redes-sociales">
        <span>¡Síguenos!</span>
        <div class="icons-redes">
            {
                listIcons.map(({icon, link}) => {
                    return (
                        <a class="icon" href={link}>
                            <Icon name={icon} />
                        </a>
                    );
                })
            }
        </div>
    </div>
    <section class="section-1">
        <h3>GRÚAS INDUSTRIALES</h3>

        <ul>
            <li>Grúa Telescópica</li>
            <li>Camión brazo articulado</li>
            <li>Camión brazo Telescópico</li>
            <li>Camión grúa brazo articulado</li>
            <li>Tracto camión</li>
        </ul>
    </section>
    <section class="section-2">
        <h3>COTACTO</h3>

        <ul>
            <li>
                <Icon name="mdi:map-marker" />
                <span>Carrera 12 #2-80 Tauramena- Casanare</span>
                <span>Colombia</span>
            </li>
            <li>
                <Icon name="mdi:phone" />
                <span>1212135455</span>
            </li>
            <li>
                <Icon name="mdi:email" />
                <span>ofertacomercialtierracoll@gmail.com</span>
            </li>
        </ul>
    </section>
    <section class="section-3">
        <h3>HORARIOS DE ATENCIÓN</h3>

        <p>
            Atención por correo electrónico las 24 horas del día. Y en nuestras
            oficinas en los siguientes horrios
        </p>

        <ul>
            {
                horario.map(({ dia, horario }) => (
                    <li>
                        <span>{dia}</span>
                        <span>
                            <b>{horario}</b>
                        </span>
                    </li>
                ))
            }
        </ul>
    </section>
</footer>

<style lang="scss">
    :root {
        --color-primary: #f3d421;
        --color-secundary: #e1251b;
        --color-success: #4bb347;
        --color-name-company: #0f73b9;
    }

    $padding-container: 20px 20px;

    footer {
        font-family: sans-serif;
        padding: $padding-container;
        background-color: #000000;
        color: #ffffff;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        position: relative;
        padding-top: 40px;
        padding-bottom: 30px;

        .redes-sociales {
            background-color: var(--color-primary);
            color: #000000;
            position: absolute;
            display: flex;
            align-items: center;
            top: -15px;
            gap: 10px;
            height: 5px;
            padding: 25px;
            margin-left: 20px;
            border-radius: 5px;
            box-shadow: -2px -1px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.75);

            &::after {
                content: "";
                border-left: 9px solid #777;
                border-top: 16px solid transparent;
                position: absolute;
                right: -9px;
                top: 0;
            }

            span {
                font-size: 13px;
            }

            .icons-redes {
                display: flex;
                gap: 10px;

                .icon {
                    color: #000000;
                    font-size: 20px;
                    border: 1px solid #000000;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    padding: 4px 8px;
                    text-decoration: none;
                    line-height: 0;

                    &:hover {
                        border-color: #ffffff;
                        color: #ffffff;
                    }
                }
            }
        }

        ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
        }

        h3 {
            color: var(--color-primary);
        }

        .section-1 {
            ul li {
                padding: 12px 0px;
            }
        }

        .section-2 {
            ul li {
                padding: 10px 0px;

                &:first-child {
                    span:last-child {
                        display: block;
                        padding: 10px 0px;
                    }
                }
            }
        }

        .section-3 {
            p {
                line-height: 25px;
            }
            ul li {
                display: flex;
                justify-content: space-between;
                padding: 10px 0px;
                border-bottom: 1px solid rgba(#6f6e6e, 0.5);
                font-size: 14px;
            }
        }
    }

    @media (min-width: 700px) {
        footer {
            grid-template-columns: 1fr 1fr;

            .section-2 {
                ul li {
                    padding: 12px 0px;
                }
            }
        }
    }

    @media (min-width: 870px) {
        footer {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
</style>
